.projects h2 {
    font-size: 1.6rem;
    font-size: clamp(1.6rem, 1.48rem + 0.6000000000000001vw, 2.2rem);
    padding-block: 1rem;
    width: fit-content;
    border: 1px solid var(--border-color);
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
}

.projects_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1.5rem;
}

.project {
    padding: 1rem;
    border-radius: 0.5rem;
    outline: 1px solid var(--border-color);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.project:hover {
    transform: translateY(-10px);
}

.project_img {
    border-radius: 0.25rem;
    overflow: hidden;
}

.project_title {
    margin-block: 8px;
    font-size: 1rem;
    font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
}

.project_desc {
    font-size: 0.8rem;
    font-size: clamp(
        0.8rem,
        0.7200000000000001rem + 0.3999999999999999vw,
        1.2rem
    );
    color: var(--stext-color);
}

.more {
    font-size: 1rem;
    font-size: clamp(1rem, 0.88rem + 0.6000000000000001vw, 1.6rem);
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    width: fit-content;
    cursor: pointer;
    margin-block: 2rem;
    transition: all 300ms ease-in-out;
}

.more::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--text-color);
    width: 0;
    transition: all 300ms ease-in-out;
}

.more img {
    width: 20px;
}

.more:hover {
    transform: translateX(4px);
}

.more:hover::after {
    width: 100%;
}

.p_container a {
    transition: all 300ms ease-in-out;
}

.p_container a:hover {
    transform: translateY(-4px);
}

@media (min-width: 37.5rem) {
    .projects_container {
        grid-template-columns: repeat(2, 1fr);
    }
}
